@font-face {
  font-family: Gotham;
  src: url("./fonts/Gotham.otf") format("opentype");
}

@font-face {
  font-family: GothamLight;
  src: url("./fonts/GothamLight.otf") format("opentype");
}

body {
  background-color: #191414;
  height: 100%;
}

.card {
  border-color : #191414;
}

.card-body {
  background-color: #191414;
  color:white;
}

.card-img-top {
  cursor: pointer;
  background-color: #191414;
} 

.wrapper {
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.wrapper img {
  transition: transform .5s ease;
  display: block;
}

.wrapper:hover img {
  transform: scale(1.1);
}

.wrapper .description {
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 0px;
  bottom: 0px;
  margin: 0px auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-family: Gotham;
  color: #fff;
  width: 100%;
}

.custom-nav {
  background-color: #191414;
  border-color: #191414;
  color: #fff !important;
}

a {
  color: #fff !important;
}

.btn {
  font-family : GothamLight;
}

.text-danger {
  font-family : GothamLight !important;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.spotify-green {
  background-color: #1DB954;
}

h3.fillSpace
{
  display:inline-block;
  padding:0;margin:0;
}

/* #1DB954 */